extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner DEVBYTE
    div.Message
      div.Title
        h3 Making the Best
        h1 Food For Dev Geeks
      span.Details Access the DEVBYTE Team Portal
    div.NavButtons
    if isAuthenticated
      a(href="/user")
          div.NavButton Just dive in!
    else
       a(href="/login")
          div.NavButton Log in